[submodule "libs/GameModeInventories-OG"]
	path = libs/GameModeInventories-OG
	url = https://github.com/true-og/GameModeInventories-OG
[submodule "libs/NoClip-OG"]
	path = libs/NoClip-OG
	url = https://github.com/true-og/NoClip-OG
